<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Dashboard</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Certificate Dashboard</h1>
    <table class="endpoints-table">
        <thead>
            <tr>
                {% for key in data[0].keys() %}
                    {% if key == 'days_remaining' %}
                        <th>days remaining</th>
                    {% elif key == 'id' %}
                        <th class="hidden">{{ key }}</th>
                    {% elif key != 'expiry_time' %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for key, value in row.items() %}
                        {% if key == 'days_remaining' %}
                            {% set expiry_time = row['expiry_time'] %}
                            {% if 0 < value < critical_days %}
                                <td class="critical" title="{{ expiry_time }}">{{ value }}</td>
                            {% elif 0 < value < warn_days %}
                                <td class="warning" title="{{ expiry_time }}">{{ value }}</td>
                            {% elif value == -102 %}
                                <td class="critical" title="{{ expiry_time }}">Connection Error</td>
                            {% else %}
                                <td title="{{ expiry_time }}">{{ value }}</td>
                            {% endif %}
                        {% elif key == 'id' %}
                            <td class="hidden">{{ value }}</td>
                        {% elif key != 'expiry_time' %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Link to the Edit Endpoints page -->
    <div class="edit-endpoints-link">
        <a href="{{ url_for('edit_endpoints') }}" class="link">Edit Endpoints</a>
    </div>
    <footer>
        <p>App Version: {{ app_version }}</p>
    </footer>
        </tbody>
    </table>
    
</body>
</html>